body {
  font: 16px/28px arial, sans-serif;
  background-image: url("img/bg3.jpg");
  justify-content: center;
  align-items: center;
  color: white;
}

table {
  margin: auto; /* membuat tabel berada di tengah layar */
}

td:first-child { /* membuat kolom pertama rata kiri */
  text-align: left;
}

td:not(:first-child) { /* membuat kolom kedua dan ketiga rata tengah */
  text-align: center;
}
